<aside class="main-sidebar">
    <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">NAVIGATION PRINCIPALE</li>
        <li>
            <a href="/">
                <i class="fa fa-dashboard"></i> <span>Accueil</span>
            </a>
        </li>
        <li><a href="{{ path('work_step_un') }}"><i class="fa fa-circle-o text-aqua"></i> <span>Session</span></a></li>
        <li><a href="{{ path('work_index') }}"><i class="fa fa-circle-o text-green"></i> <span>Archives</span></a></li>
        <li><a href="{{ path('app_site_parcellaire') }}"><i class="fa fa-circle-o text-red"></i> <span>Parcelles</span></a></li>
        <li><a href="{{ path('app_site_compte') }}"><i class="fa fa-circle-o text-yellow"></i> <span>Gestion</span></a></li>
    </ul>
</aside>